.xx{
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.zz{
    font-size: 15px;
}
.rrrr{
    background-color: aqua;
}
.tt{
    border-left: 2px solid blue;
}
.ee{
    color: blue;
    border-left: 2px solid blue;
}
.yy{
    color: green;
    border-left: 2px solid blue;
}
.oo{
    border-left: 2px solid blue;
}
.qq{
    border-left: 2px solid blue;
}
.llll{
    background-color: burlywood;width: 1550px;height: 250px;
}
.bb{
    font-size: 10px;
}
.wwe{
    border-left: 2px solid blue;
}
.ufc{
    border-left: 2px solid blue;
}
.kfc{
    border-left: 2px solid blue;
}